{% extends "base.html" %} 
{% block content%}
<!-- <div class="container" style="margin-top: 150px;"> -->
    
  <header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1 style="font-size:xx-large; margin-bottom: 2.5%;">Translate sign language to speech</h1>
                        <p class="p-heading p-large" style="margin-bottom: 2.5%;">Using technology to improve accessibility</p>
                        <a class="btn-solid-lg " href="/predict">Translate</a>
                        <a class="btn-solid-lg_sec " href="/tutorials">Tutorials</a>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- </div> -->
  
{% endblock %}

  